[Unit]
Description=ViPER Container Monitoring Service
After=graphical-session.target

[Service]
Type=simple
ExecStart=/config/.config/viper-monitor.sh
Restart=always
RestartSec=10
Environment=DISPLAY=:1
WorkingDirectory=/config/.config
User=abc

[Install]
WantedBy=default.target
